{{ define "main" }}
<header>
  {{ partial "header.html" . }}
</header>
<div class="container">
  {{ partial "jump-to-button" . }}
  <div class="row">
    {{ partial "groupdocs-total" . }}
    {{ partial "groupdocs-viewer" . }}
    {{ partial "groupdocs-conversion" . }}
    {{ partial "groupdocs-editor" . }}
    {{ partial "groupdocs-merger" . }}
    {{ partial "groupdocs-comparison" . }}
    {{ partial "groupdocs-annotation" . }}
    {{ partial "groupdocs-assembly" . }}
    {{ partial "groupdocs-parser" . }} 
    {{ partial "groupdocs-signature" . }}
    {{ partial "groupdocs-metadata" . }}
    {{ partial "groupdocs-search" . }}
    {{ partial "groupdocs-watermark" . }}
    {{ partial "groupdocs-redaction" . }}
    {{ partial "groupdocs-classification" . }}
  </div>
  <span>Note: all prices are in <strong>USD</strong> </span>
  <h2 class="mt-5">Knowledgebase</h2>
  <div class="text-center">
    <a href="http://test-pricing-gd.s3-website.eu-central-1.amazonaws.com/knowledgebase" class="btn btn-primary read-more">
        Read more...
    </a>
      <hr style="margin-bottom: 15px; color:black">
      </div>
</div>
{{ end }}
