{{ define "main" }}
<header>{{ partial "header.html" . }}</header>
<div class="container">
  {{ partial "jump-to-button" . }}
  <div class="row">
    {{ partial "groupdocs-total" . }} {{ partial "groupdocs-viewer" . }} {{
    partial "groupdocs-conversion" . }} {{ partial "groupdocs-editor" . }} {{
    partial "groupdocs-merger" . }} {{ partial "groupdocs-comparison" . }} {{
    partial "groupdocs-annotation" . }} {{ partial "groupdocs-assembly" . }} {{
    partial "groupdocs-parser" . }} {{ partial "groupdocs-signature" . }} {{
    partial "groupdocs-metadata" . }} {{ partial "groupdocs-search" . }} {{
    partial "groupdocs-watermark" . }} {{ partial "groupdocs-redaction" . }} {{
    partial "groupdocs-classification" . }}
  </div>
</div>
{{ end }}
