<table class="comp-table">
  <caption></caption>
  <thead class="comp-table__tableHead">
    <tr class="comp-table__columnHeaders comp-table__tableRow">
      <th
        title="Empty placeholder cell"
        class="comp-table__emptyCell comp-table__tableData comp-table__columnHeader"
      ></th>
      <th
        style="width: 35%"
        scope="col"
        class="comp-table__tableData comp-table__columnHeader"
      >
        <div class="comp-table__buyProduct">
          <span class="comp-table__productName">Metered Small Business</span>
        </div>
      </th>
      <th
        style="width: 35%"
        scope="col"
        class="comp-table__tableData comp-table__columnHeader"
      >
        <div class="comp-table__buyProduct">
          <span class="comp-table__productName">Metered OEM</span>
        </div>
      </th>
    </tr>
  </thead>
  <tbody class="comp-table__tableBody">
    <tr class="comp-table__columnGroup comp-table__tableRow">
      <th scope="colgroup" class="comp-table__tableData" colspan="2">
        <span
          >Developers licensed
          <div class="help-tip" style="display: inline-block">
            <p class="help-expl">
              Developer: a Developer might be a software developer, a systems
              administrator, report author or any other person who uses the
              product. Each developer working with Aspose products needs to be
              licensed.
            </p>
          </div></span
        >
      </th>
    </tr>
    <tr class="comp-table__tableRow comp-table__tableBodyRow">
      <th class="comp-table__tableData comp-table__rowheader" scope="row">
        Developers licensed
        <div class="help-tip" style="display: inline-block">
          <p class="help-expl">
            Developer: a Developer might be a software developer, a systems
            administrator, report author or any other person who uses the
            product. Each developer working with Aspose products needs to be
            licensed.
          </p>
        </div>
      </th>
      <td class="comp-table__tableData comp-table__tableDataCell">
        <svg
          style="width: 20px; height: 12px"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 640 512"
        >
          <path
            d="M0 241.1C0 161 65 96 145.1 96c38.5 0 75.4 15.3 102.6 42.5L320 210.7l72.2-72.2C419.5 111.3 456.4 96 494.9 96C575 96 640 161 640 241.1v29.7C640 351 575 416 494.9 416c-38.5 0-75.4-15.3-102.6-42.5L320 301.3l-72.2 72.2C220.5 400.7 183.6 416 145.1 416C65 416 0 351 0 270.9V241.1zM274.7 256l-72.2-72.2c-15.2-15.2-35.9-23.8-57.4-23.8C100.3 160 64 196.3 64 241.1v29.7c0 44.8 36.3 81.1 81.1 81.1c21.5 0 42.2-8.5 57.4-23.8L274.7 256zm90.5 0l72.2 72.2c15.2 15.2 35.9 23.8 57.4 23.8c44.8 0 81.1-36.3 81.1-81.1V241.1c0-44.8-36.3-81.1-81.1-81.1c-21.5 0-42.2 8.5-57.4 23.8L365.3 256z"
          ></path>
        </svg>
      </td>
      <td class="comp-table__tableData comp-table__tableDataCell">
        <svg
          style="width: 20px; height: 12px"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 640 512"
        >
          <path
            d="M0 241.1C0 161 65 96 145.1 96c38.5 0 75.4 15.3 102.6 42.5L320 210.7l72.2-72.2C419.5 111.3 456.4 96 494.9 96C575 96 640 161 640 241.1v29.7C640 351 575 416 494.9 416c-38.5 0-75.4-15.3-102.6-42.5L320 301.3l-72.2 72.2C220.5 400.7 183.6 416 145.1 416C65 416 0 351 0 270.9V241.1zM274.7 256l-72.2-72.2c-15.2-15.2-35.9-23.8-57.4-23.8C100.3 160 64 196.3 64 241.1v29.7c0 44.8 36.3 81.1 81.1 81.1c21.5 0 42.2-8.5 57.4-23.8L274.7 256zm90.5 0l72.2 72.2c15.2 15.2 35.9 23.8 57.4 23.8c44.8 0 81.1-36.3 81.1-81.1V241.1c0-44.8-36.3-81.1-81.1-81.1c-21.5 0-42.2 8.5-57.4 23.8L365.3 256z"
          ></path>
        </svg>
      </td>
    </tr>
    <tr class="comp-table__columnGroup comp-table__tableRow">
      <th scope="colgroup" class="comp-table__tableData" colspan="2">
        <span
          >Used derived work at locations
          <div class="help-tip" style="display: inline-block">
            <p class="help-expl">
              Location: A Location is the physical location where a derived work
              is used; each distinct address or office building, within or
              outside an organization. Derived work: a software program, site,
              report builder or any other solution, work or product that
              incorporates or uses Aspose products.
            </p>
          </div></span
        >
      </th>
    </tr>
    <tr class="comp-table__tableRow comp-table__tableBodyRow">
      <th class="comp-table__tableData comp-table__rowheader" scope="row">
        Used derived work at locations
        <div class="help-tip" style="display: inline-block">
          <p class="help-expl">
            Location: A Location is the physical location where a derived work
            is used; each distinct address or office building, within or outside
            an organization. Derived work: a software program, site, report
            builder or any other solution, work or product that incorporates or
            uses Aspose products.
          </p>
        </div>
      </th>
      <td class="comp-table__tableData comp-table__tableDataCell">
        <svg
          style="width: 20px; height: 12px"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 640 512"
        >
          <path
            d="M0 241.1C0 161 65 96 145.1 96c38.5 0 75.4 15.3 102.6 42.5L320 210.7l72.2-72.2C419.5 111.3 456.4 96 494.9 96C575 96 640 161 640 241.1v29.7C640 351 575 416 494.9 416c-38.5 0-75.4-15.3-102.6-42.5L320 301.3l-72.2 72.2C220.5 400.7 183.6 416 145.1 416C65 416 0 351 0 270.9V241.1zM274.7 256l-72.2-72.2c-15.2-15.2-35.9-23.8-57.4-23.8C100.3 160 64 196.3 64 241.1v29.7c0 44.8 36.3 81.1 81.1 81.1c21.5 0 42.2-8.5 57.4-23.8L274.7 256zm90.5 0l72.2 72.2c15.2 15.2 35.9 23.8 57.4 23.8c44.8 0 81.1-36.3 81.1-81.1V241.1c0-44.8-36.3-81.1-81.1-81.1c-21.5 0-42.2 8.5-57.4 23.8L365.3 256z"
          ></path>
        </svg>
      </td>
      <td class="comp-table__tableData comp-table__tableDataCell">
        <svg
          style="width: 20px; height: 12px"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 640 512"
        >
          <path
            d="M0 241.1C0 161 65 96 145.1 96c38.5 0 75.4 15.3 102.6 42.5L320 210.7l72.2-72.2C419.5 111.3 456.4 96 494.9 96C575 96 640 161 640 241.1v29.7C640 351 575 416 494.9 416c-38.5 0-75.4-15.3-102.6-42.5L320 301.3l-72.2 72.2C220.5 400.7 183.6 416 145.1 416C65 416 0 351 0 270.9V241.1zM274.7 256l-72.2-72.2c-15.2-15.2-35.9-23.8-57.4-23.8C100.3 160 64 196.3 64 241.1v29.7c0 44.8 36.3 81.1 81.1 81.1c21.5 0 42.2-8.5 57.4-23.8L274.7 256zm90.5 0l72.2 72.2c15.2 15.2 35.9 23.8 57.4 23.8c44.8 0 81.1-36.3 81.1-81.1V241.1c0-44.8-36.3-81.1-81.1-81.1c-21.5 0-42.2 8.5-57.4 23.8L365.3 256z"
          ></path>
        </svg>
      </td>
    </tr>
    <tr class="comp-table__columnGroup comp-table__tableRow">
      <th scope="colgroup" class="comp-table__tableData" colspan="2">
        <span
          >For use with web sites/apps
          <div class="help-tip" style="display: inline-block">
            <p class="help-expl">
              Allows distribution of derived works to public facing
              websites/applications, extranets, multi-site intranets or SaaS
              project usage scenarios.
            </p>
          </div></span
        >
      </th>
    </tr>
    <tr class="comp-table__tableRow comp-table__tableBodyRow">
      <th class="comp-table__tableData comp-table__rowheader" scope="row">
        For use with web sites/apps
        <div class="help-tip" style="display: inline-block">
          <p class="help-expl">
            Allows distribution of derived works to public facing
            websites/applications, extranets, multi-site intranets or SaaS
            project usage scenarios.
          </p>
        </div>
      </th>
      <td class="comp-table__tableData comp-table__tableDataCell">
        <span title="Feature is not included" class="comp-table__unicodeSymbolX"
          >✗</span
        >
      </td>
      <td class="comp-table__tableData comp-table__tableDataCell">
        <span title="Feature is included" class="comp-table__unicodeSymbolCheck"
          >✓</span
        >
      </td>
    </tr>
    <tr class="comp-table__columnGroup comp-table__tableRow">
      <th scope="colgroup" class="comp-table__tableData" colspan="2">
        <span
          >Allows external distribution
          <div class="help-tip" style="display: inline-block">
            <p class="help-expl">
              Allows distribution of derived works to third parties (e.g
              embedded in software sold to others).
            </p>
          </div></span
        >
      </th>
    </tr>
    <tr class="comp-table__tableRow comp-table__tableBodyRow">
      <th class="comp-table__tableData comp-table__rowheader" scope="row">
        Allows external distribution
        <div class="help-tip" style="display: inline-block">
          <p class="help-expl">
            Allows distribution of derived works to third parties (e.g embedded
            in software sold to others).
          </p>
        </div>
      </th>
      <td class="comp-table__tableData comp-table__tableDataCell">
        <span title="Feature is not included" class="comp-table__unicodeSymbolX"
          >✗</span
        >
      </td>
      <td class="comp-table__tableData comp-table__tableDataCell">
        <span title="Feature is included" class="comp-table__unicodeSymbolCheck"
          >✓</span
        >
      </td>
    </tr>
    <tr class="comp-table__columnGroup comp-table__tableRow">
      <th scope="colgroup" class="comp-table__tableData" colspan="2">
        <span
          >Royalty free
          <div class="help-tip" style="display: inline-block">
            <p class="help-expl">
              Use the license without the need to pay royalties or license fees
              for each use, per each copy or volume sold.
            </p>
          </div></span
        >
      </th>
    </tr>
    <tr class="comp-table__tableRow comp-table__tableBodyRow">
      <th class="comp-table__tableData comp-table__rowheader" scope="row">
        Royalty free
        <div class="help-tip" style="display: inline-block">
          <p class="help-expl">
            Use the license without the need to pay royalties or license fees
            for each use, per each copy or volume sold.
          </p>
        </div>
      </th>
      <td class="comp-table__tableData comp-table__tableDataCell">
        <span title="Feature is not included" class="comp-table__unicodeSymbolX"
          >✗</span
        >
      </td>
      <td class="comp-table__tableData comp-table__tableDataCell">
        <span title="Feature is not included" class="comp-table__unicodeSymbolX"
          >✗</span
        >
      </td>
    </tr>
    <tr class="comp-table__columnGroup comp-table__tableRow">
      <th scope="colgroup" class="comp-table__tableData" colspan="2">
        <span
          >Use in a development library, API or SDK
          <div class="help-tip" style="display: inline-block">
            <p class="help-expl">
              If you produce software with an API for other developers to use
              then this applies to you.
            </p>
          </div></span
        >
      </th>
    </tr>
    <tr class="comp-table__tableRow comp-table__tableBodyRow">
      <th class="comp-table__tableData comp-table__rowheader" scope="row">
        Use in a development library, API or SDK
        <div class="help-tip" style="display: inline-block">
          <p class="help-expl">
            If you produce software with an API for other developers to use then
            this applies to you.
          </p>
        </div>
      </th>
      <td class="comp-table__tableData comp-table__tableDataCell">
        <span title="Feature is included" class="comp-table__unicodeSymbolCheck"
          >✓</span
        >
      </td>
      <td class="comp-table__tableData comp-table__tableDataCell">
        <span title="Feature is included" class="comp-table__unicodeSymbolCheck"
          >✓</span
        >
      </td>
    </tr>
    <tr class="comp-table__columnGroup comp-table__tableRow">
      <th scope="colgroup" class="comp-table__tableData" colspan="2">
        <span
          >License type
          <div class="help-tip" style="display: inline-block">
            <p class="help-expl">
              Perpetual: The license to use the product does not expire.
              Pay-per-use: Pay royalties for the use of the product every month.
            </p>
          </div></span
        >
      </th>
    </tr>
    <tr class="comp-table__tableRow comp-table__tableBodyRow">
      <th class="comp-table__tableData comp-table__rowheader" scope="row">
        License type
        <div class="help-tip" style="display: inline-block">
          <p class="help-expl">
            Perpetual: The license to use the product does not expire.
            Pay-per-use: Pay royalties for the use of the product every month.
          </p>
        </div>
        &gt;
      </th>
      <td class="comp-table__tableData comp-table__tableDataCell">
        Pay per use
      </td>
      <td class="comp-table__tableData comp-table__tableDataCell">
        Pay per use
      </td>
    </tr>
    <tr class="comp-table__columnGroup comp-table__tableRow">
      <th scope="colgroup" class="comp-table__tableData" colspan="2">
        <span
          >Updates and hotfixes for one year
          <div class="help-tip" style="display: inline-block">
            <p class="help-expl">
              This does not apply to Metered licenses which are always up to
              date.
            </p>
          </div></span
        >
      </th>
    </tr>
    <tr class="comp-table__tableRow comp-table__tableBodyRow">
      <th class="comp-table__tableData comp-table__rowheader" scope="row">
        Updates and hotfixes for one year
        <div class="help-tip" style="display: inline-block">
          <p class="help-expl">
            This does not apply to Metered licenses which are always up to date.
          </p>
        </div>
      </th>
      <td class="comp-table__tableData comp-table__tableDataCell">-</td>
      <td class="comp-table__tableData comp-table__tableDataCell">-</td>
    </tr>
    <tr class="comp-table__columnGroup comp-table__tableRow">
      <th scope="colgroup" class="comp-table__tableData" colspan="2">
        <span
          >Can be used to create unlimited applications
          <div class="help-tip" style="display: inline-block">
            <p class="help-expl">
              There are no limits to the number of applications that you create
              with Aspose products.
            </p>
          </div>
        </span>
      </th>
    </tr>
    <tr class="comp-table__tableRow comp-table__tableBodyRow">
      <th class="comp-table__tableData comp-table__rowheader" scope="row">
        Can be used to create unlimited applications
        <div class="help-tip" style="display: inline-block">
          <p class="help-expl">
            There are no limits to the number of applications that you create
            with Aspose products.
          </p>
        </div>
      </th>
      <td class="comp-table__tableData comp-table__tableDataCell">
        <span title="Feature is included" class="comp-table__unicodeSymbolCheck"
          >✓</span
        >
      </td>
      <td class="comp-table__tableData comp-table__tableDataCell">
        <span title="Feature is included" class="comp-table__unicodeSymbolCheck"
          >✓</span
        >
      </td>
    </tr>
    <tr class="comp-table__columnGroup comp-table__tableRow">
      <th scope="colgroup" class="comp-table__tableData" colspan="2">
        <span
          >Discount applied to multiple purchases
          <div class="help-tip" style="display: inline-block">
            <p class="help-expl">
              Purchase multiple licenses and receive a discount. Metered
              licenses contain in-built discounts as adding extra developers
              does not increase costs.
            </p>
          </div></span
        >
      </th>
    </tr>
    <tr class="comp-table__tableRow comp-table__tableBodyRow">
      <th class="comp-table__tableData comp-table__rowheader" scope="row">
        Discount applied to multiple purchases
        <div class="help-tip" style="display: inline-block">
          <p class="help-expl">
            Purchase multiple licenses and receive a discount. Metered licenses
            contain in-built discounts as adding extra developers does not
            increase costs.
          </p>
        </div>
      </th>
      <td class="comp-table__tableData comp-table__tableDataCell">
        <span title="Feature is included" class="comp-table__unicodeSymbolCheck"
          >✓</span
        >
      </td>
      <td class="comp-table__tableData comp-table__tableDataCell">
        <span title="Feature is included" class="comp-table__unicodeSymbolCheck"
          >✓</span
        >
      </td>
    </tr>
    <tr class="comp-table__columnGroup comp-table__tableRow">
      <th scope="colgroup" class="comp-table__tableData" colspan="2">
        <span
          >Free technical support
          <div class="help-tip" style="display: inline-block">
            <p class="help-expl">
              Receive free technical support before purchase or even if your
              maintenance subscription has expired. For priority support check
              out the paid support options
            </p>
          </div></span
        >
      </th>
    </tr>
    <tr class="comp-table__tableRow comp-table__tableBodyRow">
      <th class="comp-table__tableData comp-table__rowheader" scope="row">
        Free technical support
        <div class="help-tip" style="display: inline-block">
          <p class="help-expl">
            Receive free technical support before purchase or even if your
            maintenance subscription has expired. For priority support check out
            the paid support options
          </p>
        </div>
      </th>
      <td class="comp-table__tableData comp-table__tableDataCell">
        <span title="Feature is included" class="comp-table__unicodeSymbolCheck"
          >✓</span
        >
      </td>
      <td class="comp-table__tableData comp-table__tableDataCell">
        <span title="Feature is included" class="comp-table__unicodeSymbolCheck"
          >✓</span
        >
      </td>
    </tr>
  </tbody>
</table>
