<div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12 d-flex">
  <div class="card mt-3 mb-3 flex-fill list-card" id="196232">
    <div class="card-body list-card-body">
      <img
        class="product-icon"
        src="https://purchase-api.dynabic.com/v1.2/files/446000.jpg"
        width="50"
        height="50"
        alt="GroupDocs.Classification Product Family"
      />

      <h5 class="card-title"><strong>GroupDocs.Classification</strong></h5>
      <p class="card-text">
        Programmatically classify documents and text into accurate categories
        using IAB (version 2) and documents taxonomies within any type of .NET
        applications.
      </p>
      <p class="card-text">
        from

        <br />

        <strong style="font-size: x-large; color: black">$1199</strong>

        <br />
      </p>

      <div class="dropdown">
        <a
          class="btn btn-secondary dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Choose a platform
        </a>

        <ul class="dropdown-menu">
          <li>
            <a
              class="dropdown-item"
              href="/pricing/classification/net"
              >GroupDocs.Classification for .NET</a
            >
          </li>
        </ul>
      </div>

      <div class="hr-or">
        <span>or</span>
      </div>

      <span style="font-size: x-small; font-style: italic"
        >This product is currently only supported for the .NET platform and
        therefore no family pack is available.</span
      >
      <div class="d-flex justify-content-center">
        <a
          href="/pricing/classification/net"
          class="btn btn-primary btn-lg fam-pack-btn"
          ><span style="margin: auto"
            >GroupDocs.Classification for .NET</span
          ></a
        >
      </div>
    </div>
  </div>
</div>
