<div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12 d-flex">
  <div class="card mt-3 mb-3 flex-fill list-card" id="179138">
    <div class="card-body list-card-body">
      <img
        class="product-icon"
        src="https://purchase-api.dynabic.com/v1.2/files/519935.jpg"
        width="50"
        height="50"
        alt="GroupDocs.Viewer Product Family"
      />

      <h5 class="card-title"><strong>GroupDocs.Viewer</strong></h5>
      <p class="card-text">
        {{ i18n "desc-GroupDocs.Viewer Product Family" . }}
      </p>
      <p class="card-text">
        from

        <br />

        <strong style="font-size: x-large; color: black">$1199</strong>

        <br />
      </p>

      <div class="dropdown">
        <a
          class="btn btn-secondary dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Choose a platform
        </a>

        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="/pricing/viewer/net"
              >GroupDocs.Viewer for .NET</a
            >
          </li>

          <li>
            <a class="dropdown-item" href="/pricing/viewer/java"
              >GroupDocs.Viewer for Java</a
            >
          </li>
        </ul>
      </div>

      <div class="hr-or">
        <span>or</span>
      </div>

      <span style="font-size: xx-small; word-spacing: 0.01px; color: gray"
        >Get all platforms in a family pack starting from
      </span>
      <br />
      <strong style="font-size: x-large">$1679 </strong>

      <div class="d-flex justify-content-center">
        <a
          href="/pricing/viewer/family"
          class="btn btn-primary btn-lg fam-pack-btn"
          ><span style="margin: auto">Choose Product Family</span></a
        >
      </div>
    </div>
  </div>
</div>
