<div class="single-header">
    <div class="container d-flex justify-content-center single-container">
        <div class="row align-items-center"> <!-- Add align-items-center class -->
            <div class="col-sm-8" style="flex-direction:column;">
                <h1 class="mb-2 header-single-title"><strong>{{ .Params.Name }}</strong></h1>
                <a href="{{ .Params.ProductPageUrl }}" style="margin-top:.5em !important; color: #EEEEEE; text-decoration: underline !important; font-size:1em">
                    {{ i18n "visit-product-page" . }}
                </a>
            </div>
            <div class="col-sm-4">
                {{ $imagePath := print "images/" .Params.Id ".png" }}
                {{ $image := resources.Get $imagePath }}
                {{ with $image }}
                <img src="{{ $image.RelPermalink }}" alt="{{ .Params.Name }}" style="width: 40%;" class="img-fluid logo-img mt-2">
                {{ end }}
            </div>
        </div>
    </div>
</div>
