
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <h2 class="display-6 kb-header">{{ .Params.Name }}</h2>
          
              <div class="col-sm-3">
                {{ if .IsHome }}
                <a class="btn btn-primary btn-lg temp-license-btn" href="https://purchase.groupdocs.com/temporary-license/">{{ i18n "get-temp-lic" . }}</a>
                {{ end }}
              </div>
        </div>
      </div>
    </div>
</div>