<div class="dropdown products-dropdown">
    <button
      class="btn btn-primary dropdown-toggle"
      type="button"
      id="productsDropdownMenuButton"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      {{ i18n "jump-to" . }} {{ "👇" | emojify }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="productsDropdownMenuButton">
      <li><a class="dropdown-item" href="#179137">GroupDocs.Total</a></li>
      <li><a class="dropdown-item" href="#179138">GroupDocs.Viewer</a></li>
      <li><a class="dropdown-item" href="#179140">GroupDocs.Conversion</a></li>
      <li><a class="dropdown-item" href="#179150">GroupDocs.Editor</a></li>
      <li><a class="dropdown-item" href="#196215">GroupDocs.Merger</a></li>
      <li><a class="dropdown-item" href="#179141">GroupDocs.Comparison</a></li>
      <li><a class="dropdown-item" href="#179139">GroupDocs.Annotation</a></li>
      <li><a class="dropdown-item" href="#179143">GroupDocs.Assembly</a></li>
      <li><a class="dropdown-item" href="#179147">GroupDocs.Parser</a></li>
      <li><a class="dropdown-item" href="#179142">GroupDocs.Signature</a></li>
      <li><a class="dropdown-item" href="#179144">GroupDocs.Metadata</a></li>
      <li><a class="dropdown-item" href="#179145">GroupDocs.Search</a></li>
      <li><a class="dropdown-item" href="#179149">GroupDocs.Watermark</a></li>
      <li><a class="dropdown-item" href="#196219">GroupDocs.Redaction</a></li>
      <li><a class="dropdown-item" href="#196232">GroupDocs.Classification</a></li>
    </ul>
  </div>