<div class="m-5">
    <ul class="nav nav-pills menu justify-content-center" id="myTab">
        <div class="wrapper">
            <li class="nav-item active">
                <a href="#yearly" class="nav-link active">{{ i18n "yearly" . }}</a>
            </li>
            <li class="nav-item">
                <a href="#payperuse" class="nav-link">{{ i18n "pay-per-use" .}}</a>
            </li>
            <li class="nav-item">
                <a href="#sdk" class="nav-link">SDK</a>
            </li>
        </div>
    </ul>
</div>