<div class="m-5">
    <ul class="nav nav-pills menu justify-content-center" id="myTab">
        <div class="wrapper">
            <li class="nav-item active">
                <a href="#developer" class="nav-link active">{{ i18n "developer" . }}</a>
            </li>
            <li class="nav-item">
                <a href="#payperuse" class="nav-link">{{ i18n "metered" .}}</a>
            </li>
            <li class="nav-item">
                <a href="#site" class="nav-link">{{ i18n "site" . }}</a>
            </li>
        </div>
    </ul>
</div>